@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  animation: fadeIn 3s linear infinite;
}

.button-container {
    margin-bottom: 15px; 
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #0052cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  