.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modules-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.available-modules,
.registered-modules {
  width: 45%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

button {
  margin-left: 10px;
}
